body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	color: #333;
	font-family: "Î¢ÈíÑÅºÚ";
}

fieldset,img {
	border: 0;
}

ol,ul {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

em {
	font-style: normal;
}

input,button,select,textarea {
	outline: none;
}

input,button {
	border: none;
}

textarea {
	resize: none;
}

a {
	color: #3C3C3C;
	text-decoration: none;
}
/* a:hover { color: #41c7f8; text-decoration:none; } */
html,body {
	width: 100%;
	height: 100%;
}

body {
	background-attachment: fixed;
	background-size: 100% 100%;
}

table {
	background: #ff9304;
	width: 370px;
}

tr {
	background: #fff;
}

td {
	height: 32px;
	text-align: center;
	color: #333;
	font-size: 14px;
	position: relative;
}

/* content star  */
.content {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
}
/* .house satr */
.house {
	width:400px;
	height: 380px;
	background: #fff;
	margin: 0 auto;
	position: absolute;
	border-radius: 5px;
}

.house_mark {
	background: url(../images/mark.png) no-repeat;
	width: 46px;
	height: 83px;
	position: absolute;
	left: -46px;
	top: 74px;
}

.house_head {
	width: 380px;
	height: 36px;
	border-radius: 5px 5px 0 0;
	background: #00a2ff;
	padding: 0 10px;
	position: relative;
}

.house_head h1 {
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.house_head span.house_closed {
	background: url(../images/close.png) no-repeat;
	width: 11px;
	height: 11px;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 14px;
	cursor: pointer;
}

.house_select {
	width: 46%;
	height: 36px;
	line-height: 36px;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	font-size: 14px;
	color: #333;
	padding: 0 5px;
	margin: 20px 0 20px 5px;
}
/*width: 380px;*/
.house_content {
	
	height: 100%;
}

.center_remind {
	width: 350px;
	line-height: 20px;
	/*margin-top: 20px;*/
	position: relative;
	margin-left: 15px;
	
	/*line-height: 20px;
    position:relative;
    bottom:0px;
    position:absolute;
    width:400px;*/
}

.center_remind span i {
	font-style: normal;
	position: absolute;
}

.center_remind span i.spanTitleOne{
    left: 70px;
 }
 .center_remind span i.spanTitleTwo{
    left: 190px;
 }
 .center_remind span i.spanTitleThree{
    left: 310px;
 }
 .remind_one{
    width:20px;
    height:20px;
    background: #00c92b;
    display:inline-block;
    position:absolute;
    border:1px solid #ffde00;
 }
 .remind_two{
    width:20px;
    height:20px;
    background: #00aac9;
    border:1px solid #48cb00;
    display:inline-block;
    position:absolute;
 }
  .remind_three{
    width:20px;
    height:20px;
    background: #fffac9;
    border:1px solid #48cb00;
    display:inline-block;
    position:absolute;
 }

table tr td a {
	/*width: 165px;*/
	height: 32px;
	line-height: 32px;
	display: block;
}
/* table tr td a:hover{
    width:165px;
    height:32px;
    background: #00a2ff;
    color:#fff;
 } */
.sd {
	margin-top: 20px;
}

.house_radio {
	position: absolute;
	top: 9px;
	left: 52px;
}