@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body, button, select, textarea, input, label, option {
    font-size: 14px;
    font-family: "Microsoft Yahei", "微软雅黑", Arial, Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", Tahoma, STHeiti;
    color: #333333;
}

img {
    border: 0;
}

b, em, i {
    font-weight: normal;
    font-style: normal;
}

ol, li, ul, dl, dt, dd {
    list-style: none;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}

.mr5 {
    margin-right: 5px
}
.mt5{
    margin-top: 5px;
}
.pt30 {
    padding-top: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    outline: 0 none;
}

a:hover {
    text-decoration: none;
    color: #009983;
}

a:link, a:visited {
    text-decoration: none;
    color: #333333;
}

input, select {
    vertical-align: middle;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: lighter;
}

/*顶部横条start*/
.topNavBar {
    min-height: 30px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border: 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.topNavBar .left {
    float: left;
    line-height: 34px;
}

.topNavBar .right {
    float: right;
    font-size: 12px;
}

.topNavBar .right a {
    line-height: 34px;
    margin-left: 8px;
    float: left;
}

.topNavBar .right .register {
    color: #009983;
}

.navbar-header ul li {
    display: table;
    overflow: hidden;
    float: left;
    margin: 0 2px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-header ul li:first-child{
    margin-left: 15px;
}

.wap-menu {
    float: left;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    padding: 0 5px;
}

.navbar-default .wap-menu {
    color: #fff;
}

.navbar-default .wap-menu:hover {
    color: #fff;
}

@media (max-width: 767px) {
    .wap-display-none {
        display: none !important;
    }

}

@media (min-width: 768px) {
    .pc-display-none {
        display: none !important;
    }
}

/*顶部横条end*/

/*logo、搜索按钮*/
.logo-search {
    margin-bottom: 18px;
}

.logo {
    height: 60px;
    margin-top: 20px;
}

.search-triggers {
    height: 25px;
}

.search-triggers li {
    color: #009983;
    text-align: center;
    list-style: none;
    float: left;
    width: 50px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.search-triggers .selected {
    color: #FFF;
    font-weight: 700;
    background-color: #009983;
}

.search {
    margin-top: 17px;
}

.form-control {
    border-radius: 0;
    font-size: 12px;
    height: 40px;
}

.input-bdc {
    border: 1px solid #009983;
}

.input-group .input-group-btn .btn {
    height: 40px;
    border-radius: 0;
}

.searchBtn, .searchBtn:hover, .searchBtn:focus, searchBtn:active {
    background-color: #009983;
    border-color: #009983;
}

/*导航菜单start*/
.navigation {
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    background-color: #009983;
}

.navigation .box {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar {
    min-height: 40px;
}

.navbar-toggle {
    /*margin-bottom: 0;*/
    /*padding: 6px 5px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 34px;
    padding: 4px 5px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #036859;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #036859;
}

.navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navactive {
    background-color: #036859;
}

.navbar-default .navbar-toggle {
    border: none;
}

/*导航菜单end*/

/*footer*/
.fooder {
    background: #333333;
}

.fooder .footer-wz {
    margin-top: 35px;
}

.fooder .footer-wz p {
    line-height: 24px;
    color: #999999;
    padding: 0;
    margin: 0;
}

.footer-ewm .img-responsive {
    display: inline-block;
}

.footer-ewm {
    margin-top: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.fooder .ewm {
    line-height: 26px;
    margin-left: 5px;
    color: #999999;
}

.img-responsive {
    display: inline-block;
}
/*人个中心中间内容最低高度*/
.content-height{
    min-height: 700px;
}
.breadcrumb-user{
    margin-bottom: 10px;
    background-color: #fff;
}
/*清除 IOS input表单内阴影*/
input[type=text], input[type=name], input[type=password], input[type=tel], textarea {
    -webkit-appearance: none;
    outline: none
}

/*右侧浮动按钮*/

@media (max-width: 767px) {
    .right-nav .intro {
        display: none;
    }

    .right-nav li:hover a em {
        display: none !important;
    }

    .right-nav {
        bottom: 0px !important;
    }

    .right-nav li:hover a i {
        display: block !important;
    }

    .right-nav ul {
        background: none !important;
    }

    .right-nav li {
        opacity: 0.6 !important;
        filter: alpha(opacity=60) !important;
    }
}

@media (min-width: 768px) {
    .right-nav li:last-child {
        display: none;
    }

}

.right-nav {
    position: fixed;
    bottom: 100px;
    right: 0px;
    z-index: 999;
}

.right-nav ul {
    background: #ffffff;
}

.right-nav li {
    margin-bottom: 1px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    background: #009983;
}

.right-nav li a {
    display: block;
    color: #989898;
}

.right-nav li em {
    display: none;
    line-height: 20px;
    color: #fff;
    padding-top: 5px;
    font-style: normal;
}

.right-nav li:hover a {
    text-decoration: none;
}

.right-nav li:hover a em {
    display: block;
}

.right-nav li .iconfont {
    display: inline-block;
    font-size: 30px;
}

.right-nav li:hover a i {
    display: none;
}

.right-nav li:hover {
    background: #009983 none repeat scroll 0% 0%;
}

.right-nav li a i {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(/Public/themes/default/images/float-nav.png);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.right-nav li i.rn-online {
    background-position: 0px 0px;
}

.right-nav li i.rn-contact {
    background-position: 0 -51px;
}

.right-nav li i.rn-weixin {
    background-position: 0px -102px;
}

.right-nav li i.rn-fangkuai {
    background-position: 0 -153px;
}

.right-nav li i.rn-top {
    background-position: 0 -204px;
}

.right-nav li i.rn-top-wap {
    background-position: 0 -255px;
}

.right-nav li:hover .wechat-right-hover {
    display: block;
}

.right-nav .intro:hover .wechat-right-hover {
    display: block;
}

.wechat-right-hover {
    display: none;
    width: auto;
    position: absolute;
    right: 63px;
    top: 40px;
    text-align: center;
    padding: 10px;
    background: #666666;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    line-height: 24px;
    white-space: nowrap;
}

/*分页*/
.pagination > li > a, .pagination > li > span {
    border-color: #dddddd;
    color: #666666;
}

.pagination > .active > a, .pagination > .active > span {
    background-color: #009983;
    border-color: #009983;
}

.pagination > li > a, .pagination > li > span {
    margin-left: 5px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 0;
}

/*登录弹出居中*/
#modalLogin {
    top: 20%;
}

#modalMessage {
    top: 20%;
}

/*当前位置*/
.Lib-mbx {
    padding: 8px 0px;
    background: transparent;
    border-radius: 0;
    margin-bottom: 0px;
}

/*步骤进度条*/
.cd-breadcrumb {
    width: 100%;
    padding: 4px 1px;
    margin: 1px auto;
    background-color: #edeff0;
    border-radius: 3px;
}

.cd-breadcrumb.triangle {
    background-color: transparent;
    padding: 0;
    height: 40px;
    display: block;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 30px;;
}

.cd-breadcrumb li {
    display: inline-block;
    float: left;
    pointer-events: none;
}

@media ( max-width: 767px) {
    .triangle {
        display: none !important;
        display: none !important;
    }
}

.cd-breadcrumb.triangle li {
    position: relative;
    padding: 0;
    text-align: center;
}

.cd-breadcrumb li::after {
    display: inline-block;
    content: '\00bb';
    margin: 6px;
    color: #959fa5;
}

*, *::after, *::before {
    box-sizing: border-box;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cd-breadcrumb li::after {
    margin: 0 1px;
}

.cd-breadcrumb li > * {
    text-align: center;
    line-height: 40px;
    font-style: normal;
}

.cd-breadcrumb.triangle li:last-of-type {
    margin-right: 0;
}

.cd-breadcrumb.triangle li > * {
    position: relative;
    display: block;
    height: 40px;
    color: #2c3f4c;
    background-color: #edeff0;
    border-color: #edeff0;
}

em {
    font-style: normal;
}

.cd-breadcrumb.triangle li:first-of-type > * {
    padding-left: 16px;
    border-radius: 3px 0 0 3px;
}

.cd-breadcrumb.triangle li:last-of-type > * {
    padding-right: 16px;
    border-radius: 2px 2px 0;
}

.cd-breadcrumb.triangle li.active a {
    color: #ffffff;
    background-color: #009983;
    border-color: #009983;
    text-decoration: none;
}

.cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 100%;
    height: 0;
    width: 0;
    border: 24px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
}

.cd-breadcrumb.triangle li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    margin: 0;
}

.cd-breadcrumb.triangle li > *::after {
    z-index: 2;
    border-left-color: inherit;
}

.cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
    display: none;
}

.cd-breadcrumb.triangle.custom-separator li::after {
    background-image: none;
}

.cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li > *::after {
    border-top-width: 25px;
    border-bottom-width: 25px;
}

/*背景色*/
.hbody-bg {
    background: #f1f1f1;
    min-height: 500px;
}

.Lib-mbxy-bg {
    background: #f4f4f4;
}

/*提示页面*/
@media (max-width: 991px) {
    .hint {
        padding: 50px 0 !important;
    }
}

.hint {
    padding: 100px 0;
    display: block;
    overflow: hidden;
}

.error-page {
    display: block;
    overflow: hidden;
}

.error-page > .headline {
    margin-top: 20px;
    text-align: center;
}

.error-page > .error-content {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.error-page > .error-content > h3 {
    font-weight: 300;
    font-size: 26px;
    margin: 0px 0 20px;
}

.error-page > .error-content > p a {
    color: #25abf3;
}

.error-page > .error-content > p a:hover {
    text-decoration: underline;
}

.error-page > .error-content > h3 span, .error-page > .error-content > p span {
    color: #ff0000;
}
/*按钮*/
.prev-btn {
    background: #fff;
    border: 1px solid #009983;
    color: #009983;
    cursor: pointer;
}
.next-btn {
    background: #009983;
    color: #fff;
    border: 1px solid #009983;
}
.btn-button{
    height: 32px;
    line-height: 32px;
    width: 100px;
    border-radius: 30px;
    margin: 0 10px;
}